@import url("https://cdn.jsdelivr.net/npm/beercss@3.4.11/dist/cdn/beer.min.css");


body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: lightblue;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  padding: 1em 10px;
  width: 100%;
  background-color: lightgray;
}

.circle {
  background-color: aliceblue;
  color: red;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  z-index: 4;
}

